.navbar{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to left, rgba(58, 199, 114, 0), rgb(153, 41, 228));
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 7;
    overflow: hidden;
    
    
}

.navbar-left{
    flex: 3;
    display: flex;
 
    margin-left:10px;
    align-items: center;
    justify-content: flex-start;

}
.navbar-center{
    display: flex;
    flex:5;
  
}

.navbar-right{
    display: flex;
    flex: 3;
   
 align-items: center;
 justify-content: flex-end;
    margin-right:10px;

}
.navbar-profile{
    padding: 10px;
    margin-right: 10px;
    display: flex;
    cursor: pointer;

}

.navbar-setting{
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

.navbar-logout{
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

@media (max-width:400px){

    .navbar-logout{
       display: none;
        
    }
    .navbar-profile{
        display: none;
    
    }
    
}