.slogin{
    width:100vw;
    height:100vh;
    background-color:  rgb(232, 91, 232);
    overflow: hidden;

}

.sloginWrapper{

width: 100%;
height: 100%;
    display: flex;
    flex-direction: row;
    
   
    
}

.sloginLeft{
    height: 100%;
    flex: 5;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
.sloginLogo{

    font-size: 60px;
    padding: 10px;
    color: #0064e6;
}
.sloginDesc{
    color: rgb(31, 31, 49);
    font-weight: 500;
}
.sloginRight{
    height: 100%;
    flex: 6;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content:flex-start;
   
}

.sloginBox{
   padding: 10px;
width: 70%;
height: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(120, 100, 206);;
       background-image: linear-gradient(to left, rgba(58, 199, 114, 0.1), rgb(120, 100, 206));

     align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.sloginInput{
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: violet;
}

.sloginButton{
    border-radius: 10px;
    border-color: rgb(119, 99, 192);
    width: 60%;
    padding: 10px;
    margin: 10px;
    background-color: #4583d4;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 20px;
}

.sloginRegister{

    border-radius: 10px;
    border-color: rgb(70, 42, 169);
    width: 40%;
    padding: 10px;
    margin: 10px;
    background-color: #7ba7e2;
    margin-top: 20px;
    color: rgb(35, 214, 80);
    font-weight: 300;
    font-size: 20px;

}

.sloginRegister a{
    text-decoration: none;
    color: rgb(85, 59, 201)

}


@media (max-width: 920px){

    .sloginLeft{
     
        flex: 3;
      
       
    
    }

    .sloginLogo{

        font-size: 50px;
       
    }

    .sloginRight{
justify-content: flex-end;
padding-right: 10px;
    }
    .sloginDesc{
       align-items: center;
       justify-content: center;
       padding: 10px;
    }    

}

@media (max-width: 701px){

    .sloginLogo{

        font-size: 40px;
       
    }

    .sloginRight{
        flex: 4;
        justify-content: flex-start;
        padding-right: 10px;
            }


}

@media (max-width: 630px){
  
    .sloginBox{
        width: 80%;
        height: 90%;
        padding-top: 30PX;

    }

    .sloginWrapper{
flex-direction: column;
    }

    .sloginRight{
justify-content: center;
    }

    .sloginInput{
width: 90%;
border-radius: 6px;
    }
    .sloginDesc{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 200;
      
     }
}