.containersharemain{
    display:flex;
    flex-direction:column;
}

.containershare{
    margin:10px;
  
    display:flex;
    flex-direction:column;
 
   width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.image{
    font-style: oblique;
 
  width: 600px;
  height:600px;
 font-size: 20px;
 padding: 10px;

 word-break: break-word;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:center;



  




}
.from{
    padding: 10px;
    font-weight: bolder;
    font-style: italic;
}
.sharebtn{
    margin: 10px;
    background-color: rgb(204, 140, 215);
    width: 100px;
   height: 40px;
   border-radius: 10px;
   

}

@media( max-width:857px){
    .image{
width: 500px;
height: 500px;
font-size: 16px;
    }

}
@media( max-width:670px){


    .image{
        width: 400px;
        height: 400px;
        font-size: 13px;
            }
}

@media( max-width:512px){
    .containershare{
margin-top: 130px;
    }

    .image{
        width: 300px;
        height: 300px;
        font-size: 10px;

            }
}

@media( max-width:327px){
    .image{
        width: 270px;
        height: 270px;
        font-size: 9px;

            }

}