.containersharemain{
    display:flex;
    flex-direction:column;
}

.containershare{
    margin:10px;
  
    display:flex;
    flex-direction:column;
 
   width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.image{
 
 
  width: 600px;
  height:600px;
 font-size: 20px;
 padding: 10px;

 word-break: break-word;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content:center;



  




}
.from{
    padding: 10px;
    font-weight: bolder;
    font-style: italic;
}
.sharebtn{
    margin: 10px;
    background-color: rgb(204, 140, 215);
    width: 100px;
   height: 40px;
   border-radius: 10px;
   

}